*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

:root {
    /* --color-main-1: #ff5049; */
    --color-main-1: #ff1a1a;
    --color-main-2: #00b300;
    --color-light-grey-4: #e7e7e7;
    --color-light-grey-3: #f7f7f7;
    --color-light-grey-1: #ffd700;
    --color-light-grey-2: #ffdf32;
    /* --color-light-grey-3: #ff5049; */
    --color-white: #fff;

    --bor-radius: .5rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: 'Open Sans';
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { display: flex; }
.red { color: var(--color-main-1) !important; }
.red-focus:focus { border: 1px solid var(--color-main-1) !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.jpg);
    background-size: cover;
    background-position: center;
}

.budget {
    margin: 0 auto;
    width: 25%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.budget__title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 4.6rem;
    text-align: center;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 1.2rem;
    text-transform: uppercase;
    border-radius: var(--bor-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget__income {
    background-color: var(--color-main-2);
}

.budget__expenses {
    background-color: var(--color-main-1);
}

.budget__income--text,
.budget__expenses--text {
    font-size: 1.3rem;
    color: var(--color-white);
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
}

.budget__income--percentage,
.budget__expenses--percentage {
    font-size: 1.1rem;
    padding: 3px;
    margin-left: 1rem;
}

.budget__expenses--percentage {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/
.bottom {
    display: flex;
    flex-direction: column;
}

/***** INPUTS *****/
.add {
    padding: 1.4rem 1.5rem;
    border-bottom: 1px solid var(--color-light-grey-1);
    background-color: var(--color-light-grey-2);
}

.add__container {
    margin: 0 auto;
    text-align: center;
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add__type {
    width: 10%;
    border: 1px solid var(--color-light-grey-1);
    height: 4.4rem;
    font-size: 1.8rem;
    color: inherit;
    background-color: var(--color-white);
    font-weight: 300;
    transition: border 0.3s;
    border-radius: var(--bor-radius);
}

.add__description,
.add__value {
    border: 1px solid var(--color-light-grey-1);
    background-color: var(--color-white);
    color: inherit;
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    border-radius: var(--bor-radius);
    transition: border 0.3s;
}

.add__description { width: 55%;}
.add__value { width: 20%;}

.add__btn {
    font-size: 4rem;
    background: none;
    border: none;
    color: var(--color-main-2);
    cursor: pointer;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid var(--color-main-2);
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 90%;
    padding: 6rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4%;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
}

.income__title { 
    color: var(--color-main-2);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-main-2);
}
.expenses__title {
    color: var(--color-main-1);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-main-1);
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
}

.red_item {
    color: var(--color-main-1);
    border-bottom: 1px solid var(--color-main-1);
}

.green_item {
    color: var(--color-main-2);
    border-bottom: 1px solid var(--color-main-2);
}

.item:first-child { margin-top: -1.3rem; }
.item:nth-child(even) { background-color: var(--color-light-grey-3); }

.item__value {
    transition: transform 0.3s;
}

.item__percentage {
    margin-left: 2rem;
    transition: transform 0.3s;
    font-size: 1.1rem;
    color: var(--color-white);
    background-color: var(--color-main-1);
    padding: .3rem;
    border-radius: .3rem;
    width: 3.2rem;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: var(--color-main-2);
}

.expenses .item__value,
.expenses,
.expenses .item__delete--btn {
    color: var(--color-main-1);
}

.item__delete--btn {
    font-size: 2.2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }